{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<div class="container-fluid p-4 align-items-center">
    <div class="row">
        <div class="col-8">
            <a href="/norway"> <img src="static/lofoten/lofoten6.jpg" class="card-img-top" alt="essen"> </a>
        </div>
        <div class="col">
            <h3 id="countries">Norway</h3>
            <font id="description">To say that Norway is beautiful would be an understatement.
                                    Ever since traveling there with 2 friends a few years ago I wanted to return.
                                    Luckily, I got the chance to spend my summer there.
                                    I learned a lot, saw some breathtaking landscapes and spent more money than
                                    on necesseties like alcohol or ice cream than I ever would in Germany.
                                    It isn't suprising to me that many people around the world idealize Norway
                                    as this perfect little paradise of a country where everything is still working.
                                    At times I thought so myself, but other time I felt that Norway is
                                    just a little bit too sleepy and comfortable. </font>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-8">
            <a href="/china"> <img src="static/guilin/shenzhen.jpg" class="card-img-top" alt="essen"> </a>
        </div>
        <div class="col">
            <h3 id="countries">China</h3>
            <font id="description">China, my second home country has always been a difficult topic for me.
                                    The last time I have been to China 7 years ago, I really didn't enjoy my time there.
                                    I remember the smog, the towns in full construction mode and hordes of people.
                                    But this time I was positively suprised by China. The towns have gotten cleaner and more modern.
                                    The people seemingly got friendlier and while the smog was still bad in the cities,
                                    once I was on the countryside the nature took over. I think what made the biggest
                                    difference in my perception of China was the fact that I was totally free to pursue whatever I wanted this time
                                    No family obligations most the time. I was traveling alone and if I wanted to go anywhere
                                    I could just book a relatively cheap highspeed train ticket or plane ticket and be there tomorrow
                                    More people should give China a shot. Especially for adventurous people who crave for something new
                                    China is the perfect spot.</font>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-8">
            <a href="/japan"> <img src="static/japan/Tokio1.jpg" class="card-img-top" alt="essen"> </a>
        </div>
        <div class="col">
            <h3 id="countries">Japan</h3>
        <font id="description">In many ways I think that Japan is the perfect place for tourists.
                                The country is very safe, very very comfortable while still offering
                                you a glimpse into an extremely different culture. For europeans who have never
                                left Europe, Japan could be a nice stepping stone for more adventurous destinations.
                                It can show you how different people around the world are, but not leave you
                                feeling totally foreign and overwhelmed like China at times can. The food is AMAZING
                                the people very very polite and everything is just unbelievably organized - that comes
                                from a German.
                                </font>
        </div>
    </div>
</div>



{% endblock %}