{% extends "layout.html" %}

{% block title %}
    craziness

{% endblock %}

{% block main %}

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md">
          <div id="lofoten" class="carousel slide" data-ride="carousel" class="preload">
            <ol class="carousel-indicators">
              <li data-target="#lofoten" data-slide-to="0" class="active"></li>
              <li data-target="#lofoten" data-slide-to="1"></li>
              <li data-target="#lofoten" data-slide-to="2"></li>
              <li data-target="#lofoten" data-slide-to="3"></li>
              <li data-target="#lofoten" data-slide-to="4"></li>
              <li data-target="#lofoten" data-slide-to="5"></li>
              <li data-target="#lofoten" data-slide-to="6"></li>
              <li data-target="#lofoten" data-slide-to="7"></li>
              <li data-target="#lofoten" data-slide-to="8"></li>
              <li data-target="#lofoten" data-slide-to="9"></li>



            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/crazy/hongkong1-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>Since these ladies don't have their on apartments, they meet up in random places all over Hong Kong - In their cardboard castles</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="static/crazy/tokio3-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>German christmas market in the middle of Tokyo. They were playing "Stille Nacht" on Radio</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="static/crazy/enshi2-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>Souvenir shop in Enshi selling fake passport, very normal</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="static/crazy/enshi3-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p style="color: black;">Beauty contest on a University campus. I felt really uncomfortable, because the girls all looked super nervous and uncomfortable themselves</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="static/crazy/guangzhou1-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>Eating some nice food with friends in a restaurant in Guangzhou - at 1am</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="static/crazy/lofoten3-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p style="color: black;">There are many dried fishheads just hanging around on Lofoten</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="static/crazy/osaka1-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>You could touch rays and sharks in the Osaka Aquarium. I hope they were not sedated constantly</p>
                </div>
              </div>              <div class="carousel-item">
                <img src="static/crazy/tiger1-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p style="color: black;">The english on the signs along the tiger leaping gorge all had magnificent english - like everywhere in China</p>
                </div>
              </div>              <div class="carousel-item">
                <img src="static/crazy/wuhan1-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p style="color: black;">I asked for something not too spicy...</p>
                </div>
              </div>              <div class="carousel-item">
                <img src="static/crazy/yangshuo1-min.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>This shop doesn't sell anything to japanese people - Racism is definitely a thing in China</p>
                </div>
              </div>

            </div>
            <a class="carousel-control-prev" href="#lofoten" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#lofoten" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>

        <div class="col-md">
            <iframe src="https://www.google.com/maps/d/embed?mid=16zTo-D3grCq1s8GWxzFvUyFID8lq334w" width= 100% height= 100%></iframe>
        </div>

    </div>
</div>

{% endblock %}